<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="Nlog.log">
    <targets>
        <target name="file" xsi:type="File" layout="${longdate}|${level}|${callsite}|${logger}|${threadid}|${windows-identity:domain=false}--${message} ${exception:format=message,stacktrace:separator=*" fileName="c:\psnet\myapplication.log" />
        <target name="database" type="Database">
            <connectionString> 
                Data Source=ESSQLSERVER02\SQL2017;Initial Catalog=ServiceDesk_HealthCheck;User ID=servicedesk-hcadmin;Password=8wn_2]_HbXe^CCA;
            </connectionString>
            <commandText> 
                INSERT INTO dbo.Log (
                MachineName, Logged, Level, Message,
                Logger, Callsite, Exception
                ) VALUES (
                @MachineName, @Logged, @Level, @Message,
                @Logger, @Callsite, @Exception
                );
            </commandText>
            <parameter name="@MachineName" layout="${machinename}" />
            <parameter name="@Logged" layout="${date}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Callsite" layout="${callsite}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="file"/>
        <logger name="*" minlevel="Warn" appendTo="database"/>
    </rules>
</nlog>