@page
@model HealthCheck.Web.Pages.ExportExcelModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportExcel</title>
</head>
<body>
</body>
</html>
