@page
@model HealthCheck.Web.Pages.IndexModel
@{
    Layout = "_LayoutNoTopbar";
}

<section id="content">

    <div class="content-wrap bg-light">

        <div class="container">

            @Html.HiddenFor(model => model.LoginUserViewModel.IsCredentialsIncorrect)

            @if (Model.LoginUserViewModel.IsCredentialsIncorrect)
            {
                <div class="alert alert-danger" role="alert">
                    Incorrect Username and/or Password. Please do better next time.
                </div>
            }

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="card my-5 shadow-sm">
                        <div class="card-body p-5">

                            <h4 class="ls4 center">LOGIN</h4>

                            <div class="divider divider-short divider-center text-dark"><i class="icon-medkit1"></i></div>

                            <div class="form-widget" data-alert-type="false">

                                <div class="form-result"></div>

                                <div class="form-process css3-spinner">
                                    <div class="css3-spinner-double-bounce1"></div>
                                    <div class="css3-spinner-double-bounce2"></div>
                                </div>

                                <form class="nobottommargin" method="post">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-md-6 bottommargin-sm">
                                                    <label asp-for="LoginUserViewModel.Username">Email</label>
                                                    <input type="text" asp-for="LoginUserViewModel.Username" value="" class="form-control required" placeholder="Enter your Email" />
                                                </div>
                                                <div class="col-md-6 bottommargin-sm">
                                                    <label asp-for="LoginUserViewModel.Password">Password</label>
                                                    <input type="password" asp-for="LoginUserViewModel.Password" value="" class="form-control" placeholder="Enter your Password" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" asp-page-handler="login" class="btn btn-secondary btn-block btn-lg">Login</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 topmargin-sm">
                                            <hr />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <span class="text-info"> No Entelect AD account? Join a session, by completing the below. </span>
                                        </div>
                                        <div class="col-6 bottommargin-sm topmargin-sm">
                                            <label asp-for="LoginUserViewModel.GuestName">Guest Name</label>
                                            <input type="text" asp-for="LoginUserViewModel.GuestName" value="" class="form-control" placeholder="Please type your full name." />
                                        </div>
                                        <div class="col-6 bottommargin-sm topmargin-sm">
                                            <label asp-for="LoginUserViewModel.SessionKey">Session Key</label>
                                            <input type="text" asp-for="LoginUserViewModel.SessionKey" value="" class="form-control" placeholder="6 letter key provided by host" />
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" asp-page-handler="GuestLogin" class="btn btn-info btn-block btn-lg">Join as Guest</button>

                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>


@section Scripts
    {
    <script src="~/js/PageScripts/index.js"></script>
}