@page
@model HealthCheck.Web.Pages.IndexModel

<div class="container">
    @Html.HiddenFor(model => model.LoginUserViewModel.IsCredentialsIncorrect)

    @if (Model.LoginUserViewModel.IsCredentialsIncorrect)
    {
        <div class="alert alert-danger" role="alert">
            Incorrect Username and/or Password. Please do better next time.
        </div>
    }

    <form class="form-signin" method="post">
        <div class="row">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        </div>
        <div class="form-group row">
            <label asp-for="LoginUserViewModel.Username"></label>
            <input asp-for="LoginUserViewModel.Username" type="email" class="form-control" placeholder="Enter your Domain email address">
        </div>
        <div class="form-group row">
            <label asp-for="LoginUserViewModel.Password"></label>
            <input asp-for="LoginUserViewModel.Password" type="password" class="form-control" placeholder="Enter your Domain password">
            <small class="form-text text-muted">Don't worry, I can't see it at all</small>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-3">
                <button asp-page-handler="login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="js/PageScripts/index.js"></script>
}
