@page
@model HealthCheck.Web.Pages.IndexModel

<div class="container">
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
            <label asp-for="LoginUserViewModel.Username"></label>
            <input asp-for="LoginUserViewModel.Username" type="email" class="form-control" placeholder="Enter your Domain email address">
        </div>
        <div class="form-group">
            <label asp-for="LoginUserViewModel.Password"></label>
            <input asp-for="LoginUserViewModel.Password" type="password" class="form-control" placeholder="Enter your Doamin password">
        </div>
        <button asp-page-handler="login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted"></p>
    </form>
</div>