@page
@using HealthCheck.Model.Enums
@using HealthCheck.Web.Extensions
@model HealthCheck.Web.Pages.WaitingRoomModel
@{
    ViewData["Title"] = "Waiting Room";
}

<div class="container">
    <h3 id="sessionkey">Session Key: @Model.SessionViewModel.SessionKey</h3>
    @if (Model.SessionViewModel.IsComplete)
    {
        <div class="alert alert-danger">Session is closed</div>
    }
    else if (!Model.SessionViewModel.IsOpen)
    {
        <div class="alert alert-info">Session has not been started</div>
    }
    else
    {
        <div class="alert alert-success">Session is open</div>
    }

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Categories</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.CategoriesViewModel)
                            {
                                var answer = category.Answer;

                                <tr>
                                    <td>@category.Name</td>
                                    @if (answer != null)
                                    {
                                        var enumValue = (AnswerOptions) answer.AnswerOptionId;
                                        var answerOption = EnumExtensions.ParseEnum<AnswerOptions>(enumValue.ToString());

                                        <td>
                                            @answerOption
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            -
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/waitingroom.js"></script>
}