@page
@model HealthCheck.Web.Pages.Sessions.CreateSessionModel
@{
    ViewData["Title"] = "CreateSession";
}

<div class="container">
    
    <form id="join-session-form" class="col-lg-6 col-md-12 col-sm-12" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Session Details</h1>

        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.CategoriesViewModel)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        


        <button asp-page-handler="create" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>