@page
@model HealthCheck.Web.Pages.Sessions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form class="form-joinsession">
        <h1 class="h3 mb-3 font-weight-normal">Join a session</h1>
        <div class="form-group">
            <label for="sessionKey"></label>
            <input asp-for="SessionKey" type="text" class="form-control" placeholder="Enter the session Key">
        </div>
        <button asp-page-handler="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
    <a asp-page="/Sessions/CreateSession" asp-route-userid="@Model.UserId">Create a session</a>
    <a asp-page="/Sessions/ViewSessions" asp-route-userid="@Model.UserId">View my sessions</a>
</div>


