@page
@model HealthCheck.Web.Pages.Sessions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form class="form-joinsession" method="post">
        <div class="row">
            <h1 class="h3 mb-3 font-weight-normal">Join a session</h1>
        </div>
        <div class="form-group row">
            <label for="sessionKey"></label>
            <input asp-for="SessionKey" type="text" class="form-control" placeholder="Enter the session Key">
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-3">
                <button id="join-session" class="btn btn-lg btn-primary btn-block">Join</button>
            </div>
            <div class="col-3">
                <a asp-page="/Sessions/CreateSession" class="btn btn-lg btn-secondary btn-block">Create a session</a>
            </div>
            <div class="col-3">
                <a asp-page="/Categories/AddCategory" class="btn btn-lg btn-secondary btn-block">Add Category</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/sessionindex.js"></script>
}
