@page
@model HealthCheck.Web.Pages.Sessions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <form class="form-joinsession" method="post">
                <div class="col-12 form-group">
                    <label>Join a Session:</label>
                    <input asp-for="SessionKey" type="text" class="form-control" placeholder="Enter the session Key">
                    <button id="join-session" class="btn btn-lg btn-primary btn-block">Join</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript" src="~/js/sessionindex.js"></script>
}
