@page
@using HealthCheck.Model
@using HealthCheck.Web.Extensions
@model HealthCheck.Web.Pages.Categories.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h3 class="text-center">Categories</h3>
</div>

@foreach (var row in Model.CategoriesViewModel.ToArray().Split(3))
{
    <div class="container mt-4">
        <div class="row">
            @foreach (var category in row)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5 class="card-title">@category.Name</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-success">@category.Positive</p>
                            <p class="text-danger">@category.Negative</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-3">
            <form method="post">
                <button asp-page-handler="create" class="btn btn-lg btn-primary btn-block" type="submit">Create New Category</button>
            </form>
        </div>
    </div>
</div>