@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Check</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <header>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <h5 class="navbar-brand h5 my-0 mr-md-auto font-weight-normal">Health Check</h5>
            @if (User.Claims.Any())
            {
                <h6 class="my-0 mr-md-auto">Hi, @User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Name)).Value</h6>
            }
            <nav class="my-2 my-md-0 mr-md-3">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Claims.Any())
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Sessions/ViewSessions">Sessions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>

    <environment include="Development">
        <script type="text/javascript" src="~/js/vendor.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/vendor.min.js"></script>
        <script type="text/javascript" src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
